<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>About - UGEGEH DESMOND OGHANIHUN</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}" defer></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
                <li><a href="{% url 'ict_training_request' %}">Training Request</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <h1>About Me</h1>
        <p>
            I am Ugegeh Desmond Oghanihun, a Renaissance Data Scientist, Cybersecurity Specialist and Software Developer, <br />
            with special interest in Python Programming, Data Protection, Data Privacy and Data Breach Response.<br />
            The Founder/C.E.O of GOLDinTECH INFUSION.<br />
            Discover the multifaceted brilliance of Mr Desmond, a polymath excelling as a Data Scientist, Cybersecurity Specialist and Software Developer. <br />
            Mr. Desmond is not only a leader in these diverse fields but also an exceptional educator who inspires and empowers students across disciplines.<br />
            From cutting-edge data science, cybersecurity and Software development, <br />
            to ground breaking specializations in Python Programming, Data Protection, Data Privacy and Data Breach Response. <br />
            Mr Desmond’s knowledge spans a wide array of fields.<br />
            As a lecturer, Mr. Desmond’s teaching methods are engaging, accessible, and designed to inspire curiosity and understanding in students of all backgrounds.
        </p>
        <p>
            #DataScience 
            #Cybersecurity
            #SoftwareDevelopment 
            #DataProtection 
            #DataPrivacy 
            #MachineLearning 
            #BigData 
            #DataBreachResponse 
            #PredictiveAnalytics
            #SoftwareDeveloper 
            #TechInnovation 
            #UgegehDesmondOghanihun 
            #LearnWithTheBest
        </p>
    </section>

    <footer>
        <p>&copy; 2024 UGEGEH DESMOND OGHANIHUN</p>
    </footer>
</body>
</html>
